


/* .nav-links > a {
  padding: .5em;
} */



/*
.container {
   position: relative;
   text-align: center;
   color: white;
 }

.container img {
  width:100%;
}

.centered {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  color: cornsilk;
  font-size: 20px;
}

.centered > h2, .centered > p {
  text-shadow: 2px 2px 2px black;
}
.call-to-action {
  padding: 1em 2em;
  background-color: #ff3333;
  margin-top: 2em;
  display: block;
  border-radius: 10px;
  text-decoration: none;
  color:white;
}

.call-to-action:hover {
  background-color:#ff0000;
}  */
